<% if @table.length > 0 %>
		<% @table.each do |line| %>
			<% name = line[0] %>
			<% url = line[1] %>
			<% reviews = line[2] %>
			<% stars = line[3] %>
			<% addr = line[4] %>
			<% city = line[5] %>
			<% state = line[6] %>
			<% pcode = line[7] %>
		<h3><a href=<%= url %> target="_blank"><%= name %></a></h3>
		<span class="col-sm-2">Reviews: <%= reviews %></span>
		<span class="col-sm-2">Stars: <%= stars %></span>
		<!--<span class="col-sm-8">Address: <%= addr %>, <%= city %>, <%= state %>, <%= pcode %></span>-->
		<br>

		<% end %>
<% else %>
		<center><h3>No Results Found!! </h3></center><br><br>
<% end %>

<br><br>
<center>
<h2>Search Again</h2><hr class="star-primary">
<center>
<div class="form-group" style="width: 100%; float: left; padding: 5px;">
<form role="form" action='/' method="post">
  <input type="text" name="keyword" class="form-group" placeholder="Keyword">
  <input type="text" name="city" class="form-group" placeholder="City">
  <!--<input type="text" name="reviews" class="form-group" placeholder="Reviews">
	<input type="text" name="stars" class="form-group" placeholder="Stars"><br>-->

    <select class="form-group input-sm" name="reviews">
      <option value="500"> > 500 reviews</option>
      <option value="800"> > 800 reviews</option>
      <option value="1000"> > 1000 reviews</option>
      <option value="1300"> > 1300 reviews</option>
      <option value="1500"> > 1500 reviews</option>
      <option value="2000"> > 2000 reviews</option>
      <option value="3000"> > 3000 reviews</option>
    </select>

    <select class="form-group input-sm" name="stars">
      <option value="4">4 stars</option>
      <option value="3">3 stars</option>
    </select>
    <br>

  <input class="btn btn-default" type='submit' value='Search'>
</form>
</div>
</center>
